# --- Python (Virtual Environments) ---
.venv/
venv/
ENV/
env/

# --- Python (Byte-compiled / caches) ---
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.ipynb_checkpoints/

# --- IDEs e Editores ---
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# --- Sistema Operacional ---
.DS_Store
Thumbs.db